<div >
  <h1><strong> Welcome!</strong></h1>

  <div class="col-md-4">
    Welcome
Our blog is dedicated to adventures in mindfulness, the power of a good night's sleep, and cultivating a healthier and happier life. We hope you enjoy your visit!
<p>As people, we’re hardwired with thoughts and feelings. Being aware of our thoughts and feelings are key to managing mental wellbeing. The amount and range of the thoughts and feelings we experience can make it difficult to understand how they may be impacting our daily lives.  To better process and understand our own thoughts and feelings, it’s important that we know what they are, what they’re not, and how they’re different from each other. Thoughts and feelings are very connected to one another, but they are two distinct things. </p>  
<br>
<div class="sqs-block-content">
<p class="" style="white-space:pre-wrap;"><strong>THOUGHTS: <br></strong>Ideas or opinions produced by thinking or that occur in the mind</p><p class="" style="white-space:pre-wrap;"><strong>FEELINGS: <br></strong>An emotional state or reaction</p>


  <h3 style="white-space:pre-wrap;">“Feelings are what makes us unique and are a natural, wonderful part of who we are. You are NOT expected to feel a certain way or be anyone else but YOU.”</h3>

<div class="row">
  <img src="../../assets/Dear-Mind.png" alt="" width=320 height= 420>
</div>


<app-footer></app-footer>
  

</div>
</div>

<br>
<br>

</div>

