<div class="main_content-body-text"><nav class="cont_nav-index-table__double-col">
   


<h2 id="disorder">What is borderline personality disorder?</h2>

<p>Borderline personality disorder (BPD) is a common mental health disorder that can be treated. It affects people’s thoughts, emotions and behaviours, making it difficult for them to cope in all areas of life.</p>

<p>We all see the world through different eyes, but a person with borderline personality disorder has an abnormally distorted view of themselves and the environment around them. </p>

<p>People with borderline personality disorder feel intense, uncontrollable emotions, which can make them very distressed and angry. They have trouble with their elationships and find it hard to feel comfortable in themselves. They may be very impulsive and appear to lead chaotic lives, act impulsively or intentionallyharm themselves as a way of coping.</p>

<p>Borderline personality disorder can be difficult for other people to understand. It can be distressing for the person with borderline personality disorder and the people around them, and it is often misunderstood.</p>

<p>It is the most common personality disorder in Australia, affecting about 1 to 4 in every 100 people at some time in their lives. It's more common in women, and usually the symptoms appear in the teenage years or early adulthood.</p>



<h2 id="disorder">What are the symptoms of borderline personality disorder?</h2>

<p>There are many different borderline personality disorder symptoms or traits including:</p>

<ul>
    <li>feeling empty inside</li>
    <li>low self-esteem</li>
    <li>strong, overwhelming emotions and feelings</li>
    <li>intense mood swings including outbursts of <a href="/anxiety"></a>, anger and depression</li>
    <li>a pattern of tumultuous relationships with friends, family and loved ones</li>
    <li>alternating between idealising and devaluing other people</li>
    <li>fear of being alone and frantic attempts to avoid abandonment</li>
    <li>unstable and distorted self-image or sense of self</li>
    <li>feeling neglected, alone, misunderstood, chronically empty or bored</li>
    <li>feelings of self-loathing and self-hate</li>
    <li>self-harm, such as cutting as a coping mechanism</li>
    <li>suicidal thoughts or suicide attempts</li>
    <li>impulsive and risk-taking behaviour, such as unsafe sex, illegal drug use, gambling, over eating, reckless driving or over spending</li>
    <li>black and white thinking, or difficulty compromising</li>
    <li>paranoid thoughts in response to stress</li>
    <li>feeling cut off and out of touch with reality</li>
</ul>





<h2 id="disorder">What causes borderline personality disorder?</h2>

<p>As with most mental health disorders, the causes of borderline personality disorder are not completely understood.</p>

<p>It is probably caused by a combination of genes and life experiences. Having another mental health condition, being very sensitive, or suffering abuse or neglect during childhood may make some people more likely to develop borderline personality disorder. But not everyone with these factors will experience borderline personality disorder and not everyone with these experiences will develop borderline personality disorder traits.</p>

<p>In some people, a stressful event or relationship breakup may be associated with the development of borderline personality disorder. During times of stress, many people with borderline personality disorder experience post-traumatic stress symptoms, such as flashbacks, nightmares, feelings of unreality andpanic attacks.</p>

<p>Sometimes negative experiences from the past return as voices or punishing self-talk that feel real and are difficult to ignore</p>




<h2 id="disorder">When should I see my doctor?</h2>

<p>If you or someone you know has or is suspected of having borderline personality disorder, it’s important to seek help.</p>

<p>You should see a doctor if you or someone you know is:</p>

<ul>
    <li>in crisis</li>
    <li>showing signs of emotional distress (being very sad, angry or anxious)</li>
    <li>harming themselves</li>
    <li>thinking or talking about suicide</li>
</ul>

<p>People with borderline personality disorder are at high risk of self-harm and suicide, although not everyone with the disorder will harm themselves. If you or someone you know has borderline personality disorder and you think there is any immediate danger of suicide, then please call triple zero (000) and ask for an ambulance. Don’t leave the person alone until help arrives.</p>




<h2 id="disorder">How is borderline personality disorder diagnosed?</h2>

<p>There is no single borderline personality disorder test. If you think you or someone you know has symptoms of borderline personality disorder, the first step is to see your doctor.</p>

<p>It may take weeks or months to get a diagnosis. A health professional needs to get to know you properly first.</p>

<p>They will need to do a complete mental health assessment, with questions about the current symptoms, past history such as suicide attempts, medical history, relationships and family background such as childhood trauma.</p>

<p>To be diagnosed for borderline personality disorder, you need to have at least 5 of the following:</p>

<ul>
    <li>frantic efforts to avoid real or imaginary abandonment</li>
    <li>consistently intense and unstable relationships with other people, alternating between idealising them and devaluing them</li>
    <li>persistently distorted self-image or sense of self</li>
    <li>at least 2 impulsive behaviours that are potentially self-damaging</li>
    <li>ongoingself-harming behaviour, suicidal behaviour or threats</li>
    <li>intense feelings lasting hours to days</li>
    <li>long-term, chronic feelings of emptiness</li>
    <li>difficulty controlling intense and inappropriate anger</li>
    <li>feeling disconnected from reality, or having paranoid thoughts</li>
</ul>

<p>Teenagers may start showing the symptoms of borderline personality disorder, but to be diagnosed they need to have symptoms that are severe enough to persistently interfere with daily functioning for 1 year or longer. A teenager with borderline personality disorder symptoms has much more severe and long-lasting symptoms than a typical moody teen.</p>


<a href="/book" class="cont_layout-media-object__icon-standout">
    <i class="cont_layout-media-object__icon-standout-left dor-icon_question"></i>
    <p class="cont_layout-media-object__icon-standout-right"><strong>ASK YOUR DOCTOR</strong> — Preparing for an appointment? Use the <strong class="cont_underline">Question Builder</strong> for general tips on what to ask your GP or specialist.</p>
</a>



<h2 id="disorder">How is borderline personality disorder managed?</h2>

<p>Once a diagnosis is made for borderline personality disorder, ongoing treatment is managed by a mental health professional.</p>

<p>The most effective treatment combines support and psychological therapy. Medicine may help in some cases, but it is not the main treatment for borderline personality disorder. While medicine may help relieve some of the symptoms, it does not improve borderline personality disorder itself.</p>


<h3>Psychological therapy</h3>

<p>Psychological therapy is the main type of treatment for borderline personality disorder. Examples of therapies that can help include:</p>

<ul>
<li><strong>Psychodynamic therapies</strong>, such as mentalisation-based therapy and transference-focused psychotherapy.</li>
<li><strong>Dialectical behavioural therapy (DBT)</strong>, which was developed specifically for treating borderline personality disorder. DBT has a educational approach with a focus on mindfulness, interpersonal effectiveness, distress tolerance and emotion regulation.</li>
<li><strong>Other forms of therapy</strong>, that teach new ways to interact with people, or ways to view yourself or the world, such as schema therapy.</li>
</ul>


<h3>Medicine</h3>

<p>Medicine is not recommended as the main treatment for borderline personality disorder, though it can sometimes help control symptoms. Medicine may be useful if the person with borderline personality disorder also has other mental health disorders, such as <a href="/bpd">bipolar disorder</a>, an <a href="/anxiety">anxiety disorder</a> or <a href="/depression">depression</a>.</p>

<p>In severe cases, a person with borderline personality disorder may need to go to hospital. This is usually only recommended as a short-term measure for those who are at risk of harming themselves or others.</p>

<p>The first step in seeking help and treatment for borderline personality disorder is to visit a doctor who can coordinate a team of mental health professionals, such as a psychologist or psychiatrist to manage the condition. Family and friends of people with borderline personality disorder may also find therapy useful in helping them cope with caring for their loved one.</p>


