<div class="main_content-body-text">
      <div class="cont_layout-container">  
<div class="cont_layout-standout" style="border-radius: 5px;">
<h2 id="disorder">Key facts</h2> 
    <ul> 
        <li>Bipolar disorder causes extreme mood changes that affect or disrupt daily life.</li>
        <li>Symptoms of manic episodes include showing extremely high energy in speech and activity, agitation and a reduced need for sleep.</li>
        <li>Symptoms of depressive episodes include low energy and motivation, lack of interest in daily activities and sometimes suicidal thoughts.</li>
        <li>Bipolar disorder is a chronic disease, and while there is no cure, there are medicines and other therapies that can help people function well and lead fulfilling lives.</li>
        <li>People with bipolar disorder will benefit greatly from the support of a close friend or family member.
        </li>
    </ul>
</div>



<h2 id="disorder">What is bipolar disorder?</h2>

<p>Bipolar disorder is a chronic (long-term) condition that involves intense mood changes which disrupt everyday life — from extreme highs to extreme lows. It affects 1 in 50 Australians each year, and often develops for the first time during teenage years or early adulthood. Bipolar disorder tends to affect more women than men. It is sometimes referred to as manic depression.</p>

<p>People with bipolar disorder will experience periods of extreme moods at different times:</p>

<ul>
    <li><strong>Manic (or hypomanic) episodes</strong> — feeling extremely euphoric or high. Hypomania means 'less than mania'. Someone who is experiencing hypomania will have the same symptoms as a manic episode, but they are less severe and generally last for a shorter period of time. During manic episodes, changes in mood are not so severe that they cause problems with functioning at work or socially.</li>
    <li><strong>Depressive episodes</strong> — feeling low, hopeless and extremely sad.</li>
</ul>

<p>If you have bipolar disorder, what you experience during each mood (and for how long) can vary. An episode can last for weeks or even months. Your moods may not make sense in the context of what else is going on around you.</p>

<h2 id="disorder">What are the symptoms of bipolar disorder?</h2>

<p>A person with bipolar disorder experiences mood changes that range between manic and depressive episodes.</p>

<p>During a manic phase, symptoms may include:</p>

<ul>
    <li>feeling high, extremely happy or irritable</li>
    <li>inflated self-esteem or grandiose ideas</li>
    <li>increased energy, activity and creativity, along with a reduced need to sleep</li>
    <li>an increase in task-focused behaviours (such as staying up all night to get things done)</li>
    <li>racing thoughts and speech (may be expressed as frequently talking over people) jumping from topic to topic</li>
    <li>being very easily distracted by any stimuli (such as noises or other people) </li>
    <li>impulsive or risky behaviours with spending, business or sexual activity</li>
    <li>unrealistic plans, delusions or hallucinations</li>
</ul>

<p>During a depressive phase, symptoms may include:</p>

<ul>
    <li>low mood</li>
    <li>lack of motivation</li>
    <li>a loss of interest in usual leisure activities or hobbies</li>
    <li>changes in sleep patterns</li>
    <li>difficulty concentrating</li>
    <li>withdrawing from social contact and activities</li>
    <li>feelings of worthlessness or guilt, which may include suicidal thoughts</li>
</ul>





<h2 id="disorder">What are the different types of bipolar disorder?</h2>

<p>Mental health professionals distinguish between 2 main types of bipolar disorder:</p>

<ul>
    <li><strong>Bipolar I</strong> — This is characterised by extreme, long-lasting highs (mania) as well as depressive episodes, and may include psychosis (difficulty knowing what is real or not).</li>
    <li><strong>Bipolar II</strong> — This is characterised by highs that are less extreme (hypomania) that only last or a few hours or days, as well as depressive episodes, and periods of normal mood.</li>
</ul>

<p>Other types of bipolar disorder include cyclothymic disorder (mood changes that are less severe but still impact daily function) and substance-induced bipolar disorder (for example, from alcohol or recreational drugs).</p>



<h2 id="disorder">What causes bipolar disorder?</h2>

<p>The exact cause of bipolar disorder isn’t fully understood. However, experts believe that a combination of physical, environmental and social factors (including mental stress) can make someone more likely to develop the condition.</p>

<h3>Genetics</h3>

<p>In 4 out of 5 people with bipolar disorder, genetics plays a key factor. If one parent has bipolar disorder, there is a 1 in 10 chance their child will also develop the condition. If both parents have bipolar disorder, the likelihood rises to 4 in 10. Research is underway to better understand the genetic factors behind why some people experience bipolar disorder while others do not.</p>

<h3>Chemical imbalances</h3>

<p>Bipolar disorder is thought to occur when your body struggles to produce and breakdown certain brain chemicals (neurotransmitters), such as adrenaline, dopamine, acetylcholine, serotonin and GABA (gamma-aminobutyric acid), as well as certain hormones. Brain-imaging studies suggest that structural changes can be seen in the brains of people with bipolar disorder.</p>

<h3>Triggers</h3>
<p>In some people vulnerable to bipolar disorder, a stressful circumstance or experience can trigger an episode of mania or depression. This may include childhood physical, sexual or emotional abuse, family conflict, or other major life-altering events. Misuse of certain substances such as recreational drugs are also linked to bipolar disorder.</p>

<p>Antidepressants are considered safe for use with bipolar depression, but should be closely supervised by a psychiatrist because some people may experience episodes of mania or rapid cycling.</p>

<p>There is a higher chance of bipolar symptoms being triggered in spring. Some experts think that increased hours of bright sunshine may affect the pineal gland, a part of your brain that helps to regulate sleep.</p>

<p>Women who are predisposed to bipolar disorder may experience their first episode while they are pregnant or after they have their baby.</p>

<h2 id="disorder">How is bipolar disorder diagnosed?</h2>

<p>If you’re concerned about extreme mood changes in yourself or someone else, it’s important to seek support and help. Speak with a GP or mental health professional to help determine whether bipolar disorder is the issue. If you’re seeking help for yourself, the doctor or mental health professional will ask about your depressive or manic moods, how long you have experienced them, and how they affect your daily life.</p>

<p>Diagnosing bipolar disorder typically involves a thorough examination of your physical health — to rule out a physical cause or other health concerns. It also involves an assessment of your mental state and the careful piecing together of details from your life and experiences.</p>



<h2 id="disorder">How is bipolar disorder treated?</h2>

<p>Bipolar disorder can be treated effectively, but needs careful and ongoing management. Treatment usually involves long-term medication, and may also involve psychological therapy and other lifestyle changes.</p>

<h3>Initial treatment</h3>

<p>Most people with bipolar disorder are initially prescribed medications to stabilise the mood extremes. These medications are tailored to the individual needs of the person with bipolar disorder, and might include mood stabilisers and/or antipsychotics. Electroconvulsive therapy (ECT) is sometimes recommended by psychiatrists in circumstances where people don’t respond to other acute treatments for their mood episodes.</p>

<h3>Ongoing treatment</h3>

<p>The goal of ongoing treatment is to prevent a relapse from happening, build resilience and help to improve quality of life. This may involve one or more of the following medications:</p>

<ul>
    <li>antidepressants — may be given for short period of time and its important that they only be taken in combination with a mood stabiliser for people with bipolar disorders</li>
    <li>lithium, a common long-term mood stabiliser</li>
    <li>anticonvulsants such as sodium valproate,carbamazepine and lamotrigine</li>
    <li>antipsychotic medicines such as olanzapine,aripiprazole, quetiapine and risperidone</li>
</ul>

<p>To manage bipolar disorder properly, it’s important to take your medication as directed. Tell your doctor if you're concerned about any side effects. Your doctor may be able to change your treatment or suggest ways to manage the problem.</p>

<h3>Therapy</h3>

<p>Psychological therapies or 'talking therapies' such aspsychotherapy,cognitive behavioural therapy (CBT) and counselling can help to manage bipolar disorder alongside medications. These therapies can help to reduce the risk of relapse and improve quality of life. You learn how to think and respond to events in your life and to cope with stresses that have triggered episodes in the past.</p>

<h2 id="disorder">Can bipolar disorder be prevented?</h2>

<p>While there’s no guaranteed way to prevent someone from developing bipolar disorder, many people successfully manage it with the right treatment and support. A successful strategy may include medication, therapy and other self-help strategies.</p>

<p>If you have a family history of bipolar disorder, it’s important to be aware of early warning signs, and for friends and family to be aware of them too. Avoid taking substances that can trigger manic or hypomanic episodes such as:</p>

<ul>
    <li>recreational drugs such as cocaine, ecstasy and amphetamines</li>
    <li>excessive amounts of caffeine</li>
</ul>

<p>Other ways to prevent relapses or episodes include learning to manage your stress and getting enough sleep.</p>

<h2 id="disorder">What are the complications of bipolar disorder?</h2>

<p>If left untreated, bipolar disorder can lead to longer and more severe mood changes. For example, episodes of bipolar-related depression can last up to 6 months, while manic episodes can last up to 4 months without ongoing treatment.</p>

<p>Someone living with bipolar disorder may also have a higher risk of the following:</p>

<ul>
    <li>substance abuse (for example, alcohol or drugs)</li>
    <li>anxiety</li>
    <li>heart and cardiovascular conditions</li>
    <li>>diabetes</li>
    <li>unhealthy weight (such as obesity)</li>
    <li>suicidal thoughts</li>
</ul>

<p>Some of these problems may need to be managed at the same time as bipolar disorder.</p>

<p>With the right treatment and support, most people with bipolar disorder can live productive and fulfilling lives.</p>


