<div class="main_content-body-text">
    <nav class="cont_nav-index-table__double-col">

    
    
    <h2 id="disorder">What is anxiety?</h2>
    <p>Anxiety is the body’s physical response to a threat or perceived threat. It causes a pounding heart, rapid breathing, butterflies in the stomach and a burst of energy as well as mental responses such as excessive fears, worries or obsessive thinking.</p>
    <p>Everyone experiences anxiety from time to time. It helps us to avoid danger by giving us energy and alertness to escape. But for some people, anxious feelings don’t go away. They can see situations as much worse than they really are, and their anxiety affects their ability to concentrate, sleep and carry out ordinary tasks. These feelings can be caused by anxiety disorders.</p>
    <p><strong>At any time, if you feel that you may harm yourself or have thoughts of suicide, you can  talk to family or friends, your doctor or call a phone service such as any Lifeline , available 24 hours a day. </strong></p>
    
    <p>The common types of anxiety disorders are:</p>
    <ul>
    <li><strong>Generalised anxiety disorder</strong>: Excessive, uncontrollable worry about a range of ordinary issues such as health, work or finances.</li>
    <li><strong>Social phobia or social anxiety disorder</strong>: A disorder that causes people to avoid social or performance situations for fear of being embarrassed or rejected.</li>
    <li><strong>Panic disorder</strong>: Regular panic attacks, which are sudden intense episodes of irrational fear, shortness of breath, dizziness and other physical symptoms.</li>
    <li><strong>Agoraphobia</strong>: Avoiding certain situations due to fear of having a panic attack (agoraphobia is often associated with panic disorder).</li>
    <li><strong>Specific phobias</strong>: Irrational fears that only apply to one particular situation, such as a fear of animals, insects, places or people. For example, claustrophobia is a specific fear of enclosed or confined spaces.</li>
    <li><strong>Obsessive compulsive disorder (OCD)</strong>: Unwanted thoughts and impulses (obsessions), causing repetitive, routine behaviours (compulsions) as a way of coping with anxiety.</li>
    <li><strong>Post-traumatic stress disorder (PTSD)</strong>: When feelings of fear or avoidance do not fade after experiencing or witnessing a traumatic life event. It involves upsetting memories, flashbacks, nightmares and difficulties sleeping.</li>
    </ul>
    
    <h2 id="disorder">What are the symptoms of anxiety?</h2>
    <p>You may have an anxiety disorder if you often feel scared, worried or nervous, or if you always worry that something bad is going to happen.</p>
    <p>Anxiety can affect someone’s ability to concentrate, sleep and carry out ordinary tasks at work, home or school. People with anxiety disorders often feel they have to avoid stressful situations and, in extreme cases, avoid going out altogether.</p>
    <p>Physical symptoms are common and include shortness of breath, a pounding heart and trembling hands.</p>
    <p>You can find more information about anxiety symptoms here.</p>
    
    
    
    <h2 id="disorder">What causes anxiety?</h2>
    <p>The causes of anxiety and the reason anxiety affects some people to the point where it interferes with their lives are not fully understood.</p>
    <p>A range of factors are thought to contribute to anxiety symptoms, which can then go on to become disorders. Most anxious people probably have genes that make them more likely to develop an anxiety disorder. Women are more likely to develop anxiety than men, but it is not clear why.</p>
    <p>The risk factors for anxiety include:</p>
    <ul>
    <li>family history — you are more likely to develop anxiety if you have a family history of anxiety or other mental health issues(though it doesn't mean if there are mental health issues in your family you will develop anxiety)</li>
    <li>having another mental health issue</li>
    <li>ongoing stressful situations, such as job issues or changes, unstable accommodation, family or relationship breakdownand grief</li>
    <li>any kind of abuse (such as physical,sexual, verbal or domestic abuse)</li>
    <li>life-threatening events</li>
    <li>pregnancy and childbirth</li>
    <li>physical health issues such as asthma, diabetes, heart disease or hormonal issues, such as thyroid problems</li>
    <li>>substance use — particularly cannabis, amphetamines, alcohol and sedatives — or withdrawing from drugs and alcohol</li>
    <li>consuming caffeine, as well as some non-prescription and herbal medicines</li>
    <li>having a certain personality type, such as being a perfectionist, having low self-esteem or needing to be in control</li>
    </ul>
    
    <p>Everyone is different and often a combination of factors contributes to developing an anxiety disorder.</p>
    
    <h2 id="disorder">When should I see my doctor?</h2>
    <p>If anxiety is impacting your everyday life, talking to a doctor or a mental healthcare professional is the first step to getting the right support and understanding the options for treatment.</p>
    <p>It might help to write down your symptoms for some time leading up to your appointment, so it's easier to explain to a doctor or mental health professional what you're going through. It will help them to make a thorough anxiety disorder diagnosis.</p>
    <p>If you are thinking about suicide, then it’s important to seek help immediately by calling an ambulance on triple zero (000).</p>
    

    
    <h2 id="disorder">How is anxiety diagnosed?</h2>
    <p>Your doctor will ask you about your symptoms. Often they will use a detailed questionnaire to do this. The more detailed answers you can give about what you're experiencing, the better.</p>
    <p>You may be diagnosed with an anxiety disorder if the symptoms are affecting your ability to function in some way, either at work, school or socially. The questionnaire may also pick up if you have depression and how severe the problem may be.</p>
    <p>Your doctor will diagnose the type of anxiety disorder you have based on recognised criteria such as those listed in the DSM-5 (Diagnostic and Statistical Manual of Mental Disorders — a handbook used by health professionals to help identify and diagnose mental illness).</p>
    
    <h2 id="disorder">How is anxiety treated?</h2>
    <p>Which anxiety treatments will work for you depends on you, what type of anxiety disorder you have, and how severe it is. Mild anxiety may be helped by making lifestyle changes such as regular physical exercise, whereas more severe cases may require medicine.</p>
    <p>People involved in your care might include your doctor, a , mental health nurse or other type of counsellor.</p>
    <p>Recovery is possible with the right care. Common treatments and ways to manage anxiety include the following:</p>
    
    <h3>Psychological therapy</h3>
    <p>Anxiety may be treated by using different therapies, including cognitive behaviour therapy (CBT) — which is designed to change problematic thinking patterns that cause anxiety -- or behaviour therapy. This is a component of CBT that includes ‘desensitisation’, a method of slowly and safely exposing you to feared situations to reduce the anxiety that comes with them.</p>
    <p>Other types of therapy for anxiety may include interpersonal therapy (focusing on relationships), acceptance and commitment therapy (such as mindfulness) and narrative therapy (understanding the stories you use to describe your life).</p>
    
    <h3>Medicine</h3>
    <p>Medicine such as antidepressants may be necessary if other treatments are not enough. Medicine is usually recommended in combination with the strategies described above.</p>
    <p>Treatment for anxiety can take time, and a good support network makes the process easier. But many people are able to let go of anxiety and recover.</p>
    
    <h3>Online support tools</h3>
    <p>Online tools may be suitable if you have mild to moderate anxiety. There is a range of different programs, most of which are backed up by phone, email, text or web chat support from a mental health specialist. These online therapies can be particularly helpful if you are living in a rural and remote area where access to health professionals may be more difficult.</p>
    
    <h2 id="disorder">Can anxiety be prevented?</h2>
    <p>There are things you can learn to do to help manage your anxiety. Different strategies work for different people.</p>
    <ul>
    <li>Make sure you exercise regularly. Even a 10-minute short walk can help to improve how you feel and may make you feel less tired. Exercise helps boost your levels of serotonin — ‘feel good' hormones. If you have not exercised in a long time, check with your doctor that it is safe for you. If you don’t feel ready for vigorous exercise, just go for a brisk walk every day.</li>
    <li>Take time for yourself. Try to get involved in activities and pastimes you previously enjoyed — even if you don't feel like it.</li>
    <li>Use relaxation techniques, such as mindfulness and meditation.</li>
    <li>Cut down on caffeine, which can increase anxiety and alter sleep patterns in some people. Avoid tea, coffee, cola, energy drinks and chocolate, especially after 6pm.</li>
    <li>Limit how much alcohol, cigarettes and drugs you use. You can call the Quitline on 13 7848 or call the National Alcohol and Other Drug Hotline on 1800 250 015 for confidential advice.</li>
    <li>Use distraction techniques, such as counting backwards from 10, to help you stay in the present moment rather than thinking of terrible things that might happen in the future.</li>
    <li>Breathing can help with physical symptoms, and controlled breathing exercises can reduce the risk of symptoms worsening into a panic attack. Slowly take breaths in and out.
    <li>Learn how to change your ‘self-talk’ or inner thought patterns (a mental health professional can help you do this)</li>
    <li>Tackle small tasks that you may have been avoiding to help you to feel better about yourself.</li>
    </ul>
