<div class="main_content-body-text">
    <nav class="cont_nav-index-table__double-col">
     <h2 id="disorder">What is ADHD?</h2>
    <p>Attention deficit hyperactivity disorder (abbreviated as ADHD, and sometimes referred to as ADD in the past) is a developmental disorder that begins in early childhood. Children with ADHD may find it hard to concentrate and may become hyperactive, to the point where the condition can interfere with their schooling, friendships, or family life.</p>
    <p> It is more common in boys. More than 3 in 4 children diagnosed with ADHD continue to experience the symptoms into adulthood.</p>
    <p>ADHD affects the brain’s executive functioning — the ability to self-regulate and control thoughts, words, actions and emotions.</p>
    <p>There are 3 types of ADHD:</p>
    <ul>
    <li><strong>Inattentive</strong> means a person is easily distractible or inattentive but isn’t hyperactive or impulsive.</li>
    <li><strong>Hyperactive-impulsive</strong> means a person has symptoms of impulsivity and hyperactivity.</li>
    <li><strong>Combined</strong> means a person has a mixture of symptoms including hyperactivity, inattention and impulsivity.</li>
    </ul>
    
    <h2 id="disorder">What are the symptoms of ADHD?</h2>
    <p>There are 2 groups of symptoms in ADHD:</p>
    <h3>Inattentive symptoms</h3>
    <ul>
    <li>not paying attention to details, or making careless mistakes in schoolwork</li>
    <li>having difficulty remaining focused in class, conversations or reading</li>
    <li>avoiding tasks that take continuous mental effort (for example, homework)</li>
    <li>not following through on instructions, a tendency to start but not finish tasks</li>
    <li>having difficulty organising tasks, activities, belongings or time</li>
    <li>being easily distracted or daydreaming</li>
    <li>losing things</li>
    <li>not seeming to listen when spoken to</li>
    <li>being forgetful with everyday tasks, such as chores and appointments</li>
    </ul>
    
    <h3>Hyperactive-impulsive symptoms</h3>
    <ul>
    <li>fidgeting and squirming</li>
    <li>running or climbing in situations where it is inappropriate, leaving their seat in class</li>
    <li>talking non-stop</li>
    <li>interrupting conversations, games or activities or using people’s things without permission</li>
    <li>blurting out an answer before a question has been finished</li>
    <li>having difficulty playing quietly</li>
    <li>having difficulty waiting their turn</li>
    <li>leaving the seat in class or in other situations where sitting is expected</li>
    <li>being constantly in motion, as if 'driven by a motor'</li>
    <li>struggling to play or do tasks quietly</li>
    </ul>
    
    <h2 id="disorder">What causes ADHD?</h2>
    <p>The exact causes of ADHD are not known, and there is no single cause.</p>
    <p>Studies have shown that ADHD symptoms are related to the biology of the brain. It is thought that genetic and environmental factors can interact to cause changes in brain development and function.</p>
    <ul>
    <li><strong>Neurophysiology:</strong> People with ADHD have differences in brain anatomy, electrical activity and metabolism.</li>
    <li><strong>Genetics:</strong> Research shows that ADHD often runs in families. Researchers are currently working on identifying which genes are involved.</li>
    <li><strong>Drug use during pregnancy:</strong> Research has linked ADHD to smoking, alcohol and cocaineuse during pregnancy.</li>
    <li><strong>Lead:</strong> Some studies have shown that pre-schoolers who were exposed to lead (in certain types of paint or plumbing) had a higher risk of developing ADHD.</li>
    <li><strong>Brain injury:</strong> Some children with brain injuries show behaviour that resembles ADHD; however, most children with ADHD have no history of brain injury.</li>
    <li><strong>Lack of early attachment:</strong> If a child did not bond with a parent or caregiver as a baby, they can develop inattention and hyperactivity.</li>
    <li><strong>Early childhood trauma</strong>: Children who experience trauma in early childhood are more likely to show features consistent with ADHD, but most children with ADHD have not experienced early childhood trauma.</li>
    </ul>
    
    <p>Poor sleep during the night can cause trouble concentrating the following day. It is thought that 1 in 3 children with ADHD might have sleep apnoea (a blocking of the airway during sleep), but it's not clear whether sleep apnoea is a cause of ADHD. If your child often snores, this might be a symptom of sleep apnoea and may be contributing to the problem.</p>
    
    <h2 id="disorder">When should I see my doctor?</h2>
    <p>It is normal for children to get restless and distracted from time to time, and to be active and have lots of energy. But if a child has ADHD, their problems with attention and hyperactivity will be severe enough to interfere with learning and social relationships.</p>
    <p>There are many behavioural and developmental disorders that can cause symptoms of ADHD in young children, so it's important to have a proper assessment. Other reasons for children being inattentive, impulsive or hyperactive are health or emotional problems, learning difficulties or lack of sleep.</p>
    <p>If you are concerned that your child may have ADHD, the first step is to see a doctor. The diagnosis can only be made after a detailed assessment of the child’s behaviour, including interviews with parents or carers and the school.</p>
    
    
    <a href="/book" class="cont_layout-media-object__icon-standout">
    <i class="cont_layout-media-object__icon-standout-left dor-icon_question"></i>
    <p class="cont_layout-media-object__icon-standout-right"><strong>ASK YOUR DOCTOR</strong> — Preparing for an appointment? Use our <strong class="cont_underline">Question Builder</strong> for general tips on what to ask your GP or specialist.</p>
    </a>
    
    <h2 id="disorder">How is ADHD diagnosed?</h2>
    <p>There are clear criteria used to diagnose ADHD. If your child has 6 or more symptoms for at least 6 months to a degree that it interferes with their everyday life, they may be diagnosed with ADHD.</p>
    <p>The diagnosis is usually made by a specialist paediatrician or child psychiatrist after referral from a doctor.</p>
    <p>In order to diagnose ADHD in adulthood, it needs to be established that the symptoms began in childhood.</p>
    <p>To make a diagnosis of ADHD, a specialist will need to follow strict criteria. These include that the ADHD symptoms:</p>
    <ul>
    <li>began before the age of 7 and have persisted for 6 months or more</li>
    <li>are present in more than one setting (for example, both school and home)</li>
    <li>have caused significant impairment, at school, home or socially</li>
    <li>are unusual for the child’s age and developmental level</li>
    <li>are not better explained by another mental or physical condition, family circumstances or stress</li>
    </ul>
    
    <h2 id="disorder">How is ADHD treated?</h2>
    <p>There are several different options for the treatment of ADHD, depending on the specific needs of each child and family.</p>
    <p>Treatment may involve different health professionals, including a doctor, psychiatrist, paediatrician,psychologist or family therapist. Parents — and possibly schoolteachers too — need to be actively involved in the treatment plan.</p>
    <p>The first step is often to use positive parenting strategies. It can help to stick to a routine, help the child build their social skills and talk to the school to plan an environment where they are able to learn.</p>
    <p>If the ADHD is still having a big impact on the child’s life, it might be time to consider medication. Stimulant medicines can reduce hyperactivity and impulsivity. They help a child to focus and learn.</p>
    <p>Stimulant medicines have been thoroughly researched for many years and have been shown to be safe and to greatly improve concentration, impulse control and hyperactivity in about 4 in 5 children with ADHD. The doses used to treat ADHD are not addictive and do not cause withdrawal symptoms. However, they can cause side effects like loss of appetite and difficulty falling asleep. For children who may experience side effects from these medicines, non-stimulant medicines are also available.</p>
    <p>Psychological treatments, such as behavioural therapy, may help a child develop strategies and skills for learning and controlling their behaviour.</p>
    <p>Taking fish oil supplements to increase levels of omega-3 may improve some symptoms of ADHD in some children. However, there is not enough good quality evidence to show a definite benefit.</p>
    <p>For most people, taking fish oils is considered safe, however they should not be taken if you have a fish oil allergy or a bleeding disorder. Always check with your doctor or pharmacist before taking supplements to make sure they are right for you.</p>
    
    <h2 id="disorder">Caring for a child with ADHD</h2>
    <p>If you are caring for a child with ADHD, below are some tips that can help.</p>
    <ul>
    <li><strong>Provide structure</strong> — try to ensure that rules and instructions are clear, brief and, where possible, presented in charts and lists.</li>
    <li><strong>Maintain a good relationship</strong> — this will assist with their self-esteem and help them to be more cooperative.</li>
    <li><strong>Become a keen observer</strong> — notice those things that will help in managing behaviours and put in place strategies to manage the situation.</li>
    <li><strong>Provide praise and positive reinforcement</strong> — this is important for all children, but particularly for children with ADHD.</li>
    </ul>
    
    <h2 id="disorder">Complications of ADHD</h2>
    <p>Children with ADHD often have other problems such as mild delays in language, motor skills or social development. Also, undiagnosed or untreated ADHD can lead to problems in itself, and this needs to be balanced against the decision to use treatments.</p>
    <p>In adolescence, ADHD can cause academic failure, driving problems, problems with friends, risky sexual behavior and substance abuse. People may develop other conditions including oppositional defiant disorder, conduct disorder, anxiety, depression, tic disorders or Tourette syndrome, substance abuse, sleep disorders and learning disabilities.</p>
    <p>Adults with ADHD may experience depression or anxiety, and problems with family and work.</p>
    <p>For all of these reasons, it is important to get a proper assessment and to use strategies and treatments to best support a child or adult with ADHD.</p>
