<div class="image" style="background-color: aliceblue;">

   <section class="container wellness-section chart-section">
      <div class="row justify-content-start justify-content-md-center">
        <img class="chart-section__image" src="../../assets/tea2.jpg" width="120" height="420" alt="">
      </div>
<div>
  <br>
  <br>
  <h1 style="font-family:Georgia, serif;"><p><strong>Share your stories and articles with us <a href="">AdminRoots@gmail.com</a></strong></p> </h1> 
</div>
   </section>
    <div class="container">
      <div class="paragraph paragraph--type--text-with-image paragraph--view-mode--landing-page-text TextImage TextImage--right">
        <div class="Textimage_container">
          <div class="Textimage_title u-fg-akita" style="color:rgb(216, 60, 21) ;">
            <h1><strong>How can I improve my mental wellbeing? </strong></h1>
          </div>
          <div class="Textimage-content" >
            <div class="lead">
              <p style="font-size: large;">Being active for 30 minutes each day improves your physical health. The same goes for your mental health.By taking just a few minutes to focus on mental wellbeing activities each day, you’ll see big improvements.<br></p>
              <p style="font-size: large;">It only takes a few small actions, practised every day, to find a happier you.</p>
            </div>
           
          </div>
        </div>
      </div>
  </div>
  <div class="container">
    <div class="paragraph paragraph--type--text-with-image paragraph--view-mode--landing-page-text TextImage TextImage--right">
      <div class="Textimage_container">
        <div class="Textimage_title u-fg-akita" style="color: rgb(216, 60, 21);">
          <h1><strong>How it works ? </strong></h1>
        </div>
        <div class="Textimage-content" >
          <div class="lead">
            <p style="font-size: large;">There isn't a one-size-fits-all solution to good mental health. That's why <strong>Roots and Wings</strong> provides a comprehensive set of customizable tools to help you learn and focus on what most affects your mood. Awareness plus good practices done regularly is how to create a better mood<br></p>
            <p style="font-size: large;">It only takes a few small actions, practised every day, to find a happier you.</p>
          </div>
          <div class="row">
            <img src="../../assets/Onx614tw.jpeg" alt="cycle" width="120" height="420">
          </div>
        
        </div>
      </div>
    </div>
</div>
  <br>
  <br>
 
  <br>
  <br>
  <div class="row-col-sm-6 ">
    <!-- <img src="../../assets/welltips.png" alt="img" width="320" height="220"> -->
    <!-- <img src="../../assets/medineed.png" width="320" height="320"> -->
   
    <div class=" col-sm-12">
      <div class="card" style="background-color: transparent;">
        <div class="card-body bg-text">
          <a *ngFor="let blog of blogs" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <h2 class="mb-1" class="card-title">{{blog.title}}</h2>
            <small>3 days ago</small>
            <p class="mb-1" class="card-text">{{blog.body}}</p>
            <div class="panel-footer" class="card-author">
              <p class="mb-1"><strong>{{blog.author}}</strong></p>
              <br>
              <br>
             </div>
             <button class="btn btn-warning" style="cursor:pointer;" *ngIf="_auth.loggedIn()"  (click)="editBlog(blog)"  style="margin-left: 20px;  float: right;"> Edit</button>
             <button class="btn btn-danger" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="deleteBlog(blog)" style="margin-left: 10px;  float: right;"> Delete</button>
              </a>
              <br>
             </div>
            </div>
</div><br>
<br>
<br>
<br>


           
         

