<div class="container">
    <div class="offset-md-4 col-md-6">
        <br>
      <div class="form-group">
         <div class="offset-md-4">
         <h2>Login</h2>
         </div>
         <br>
         <form (ngSubmit)="loginUser()">
            <div class="row mb-2">
             <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-6">
              <input type="text" class="form-control" name="uname" [(ngModel)]="user.uname">
              </div>
           </div>
           <br>
          <div class="row mb-2">
             <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
             <div class="col-sm-6">
              <input type="password" class="form-control" name="password" [(ngModel)]="user.password">
             </div>
         </div>

         <br>
         <br>
         <div class="offset-md-4 col-md-4">
         <button type="submit" class="btn btn-warning">Login</button>
         </div>
         </form>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>

     </div>
  </div>
       
</div>
<br>
