<div class="main_content-body-text">
    <nav class="cont_nav-index-table__double-col">
    
<h2 id="what-is">What is OCD?</h2>

<p>Obsessive-compulsive disorder (OCD) is a treatable <a routerLink="/anxiety">anxiety disorder</a> that affects people. It usually develops in late childhood or early teenage years and without proper treatment can become a chronic condition. As the name suggests, there are 2 kinds of symptoms:</p>

<ul>
    <li><strong>obsessions</strong> — an unwanted thought, image or urge that repeatedly comes into the mind</li>
    <li><strong>compulsions</strong> — repetitive behaviours or rituals, that are difficult or impossible to resist doing, which are carried out to reduce anxiety</li>
</ul>

<p>The compulsions can take considerable time, impacting on normal day-to-day activities. For example, a person with OCD may need to check the iron is turned off 20 times. </p>

<p>People suffering from OCD are usually aware of their behaviours and know they are excessive. This can cause shame, forcing people to keep their condition secret. The sooner people with OCD seek effective treatment, the closer they are to regaining control of their lives.</p>

<p>OCD is not the same as Obsessive-compulsive personality disorder (OCPD), which is when people are very rigid and are preoccupied with order, perfection and control.</p>




<h2 id="disorder">What are the symptoms of OCD?</h2>

<p>There are a variety of different symptoms involved in OCD, but often they follow certain common themes.</p>


<h3>Obsessions (thoughts)</h3>

<p>Common obsessions include:</p>

<ul>
    <li>fear of contamination due to germs or illness, which may lead to avoiding hand contact or toilets, and an excessive need to wash and clean</li>
    <li>fear of hurting others — for example, your own children — or injuring someone in a car accident</li>
    <li>preoccupation with having things in order, or with following certain patterns</li>
    <li>sexual or pornographic thoughts or images</li>
    <li>worrying you have forgotten to lock doors or turn off appliances</li>
    <li>preoccupation with religious or moral issues</li>
</ul>


<h3>Compulsions (behaviours)</h3>

<p>Common compulsions include:</p>

<ul>
    <li>cleaning: excessive hand washing, showering or house cleaning due to fear of germs, which may result in dermatitis of the hands</li>
    <li>checking: a compulsive need to continually check things, such as taps, locks or light switches due to a fear of damage or harm or to maintain order and symmetry</li>
    <li>counting items or objects such as paving stones on a walk</li>
    <li>hair pulling and hair loss</li>
    <li>skin picking</li>
    <li>hoarding random objects, such as junk mail and old newspapers</li>
    <li>praying excessively</li>
    <li>constant demands for reassurance from others</li>
</ul>

<p>Some behaviours not listed here may still be OCD symptoms. It is the obsessive nature of the behaviour that’s important in diagnosing OCD, rather than the behaviour itself.</p>

<p>Other conditions can be closely related to OCD, such as:</p>

<ul>
    <li>body dysmorphic disorder — excessive concern over a body part, and believing it is abnormal in some way</li>
    <li>trichotillomania — compulsive hair pulling</li>
    <li>hypochondriasis — fear and preoccupation with developing a physical illness</li>
    <li>compulsive hoarding</li>
    <li>anorexia nervosa</li>
</ul>

<p>People who suffer from OCD are also more likely to develop <a routerLink="/depression">depression</a> or other anxiety disorders, such as panic disorder orsocial anxiety.</p>


<h2 id="disorder">What causes OCD?</h2>

<p>It is not clear why some people develop OCD. Like many mental health disorders, it’s thought to develop due to a combination of genetic and environmental factors. There are several theories about the causes of OCD, including:</p>

<ul>
    <li><strong>genetic</strong> — having a first-degree relative with OCD may increase the chance of someone developing it. It's possible that some genes may give people a predisposition to OCD</li>
    <li><strong>biological</strong> — functional, structural or chemical abnormalities in the brain are currently being researched. Some links have been found to irregular levels of serotonin, the chemical that sends messages to the brain</li>
    <li><strong>environmental</strong> — some research suggests that OCD behaviours could be learned following a stressful event, such as catching a serious disease from contamination. OCD rituals may even be learned from others, such as from a parent with OCD</li>
</ul>

<p>Personality traits and distressing life events may also play a role in developing OCD. Researchers are currently looking at how environmental factors and stress may play a role. </p>

<h3>When should I see my doctor?</h3>
<p>OCD symptoms can feel embarrassing or shameful. But it is important to seek help as the sooner treatment starts, the sooner you will feel better.</p>

<p>If you or someone you know has obsessions or compulsions that are unreasonable and impact on daily life, don’t delay going to visit a doctor.</p>

<a routerLink="/book" class="cont_layout-media-object__icon-standout">
    <i class="cont_layout-media-object__icon-standout-left dor-icon_question"></i>
    <p class="cont_layout-media-object__icon-standout-right"><strong>ASK YOUR DOCTOR</strong> — Preparing for an appointment? Use the <strong class="cont_underline">Question Builder</strong> for general tips on what to ask your GP or specialist.</p>
</a>






<h2 id="disorder">How is OCD diagnosed?</h2>

<p>There is no single test for OCD, but a health professional can make a diagnosis based on an assessment of the person’s behaviours, thoughts and feelings.</p>

<p>To be diagnosed as having OCD, obsessive thoughts and compulsive behaviours must be:</p>

<ul>
    <li>taking up a lot of time (more than 1 hour a day)</li>
    <li>recognised as excessive and unreasonable</li>
    <li>causing significant distress</li>
    <li>interfering with normal life and relationships</li>
</ul>

<p>The doctor will rule out other conditions that may be causing the symptoms such as <a routerLink="/depression">depression</a>, schizophrenia and <a routerLink="/anxiety">anxiety</a> disorders. </p>

<p>Diagnosis can sometimes take time. But beginning the assessment process is a positive step towards recovery.</p>














<h2 id="disorder">How is OCD treated?</h2>
<p>Treatment can help people with OCD manage their intrusive obsessions and compulsions. It may not cure OCD, which can be a lifelong disorder, but it can help control symptoms and stop them ruling a person's life.</p>

<p>The best results may come from a combination of treatments. Options for treating OCD include:</p>

<ul>
    <li><strong>cognitive behaviour therapy (CB</strong>: by working with a mental health professional, a person with OCD can learn new and more positive ways to cope with symptoms. The person is gently encouraged to resist their compulsive behaviours and find other ways to reduce their <a href="/anxiety">anxiety</a>. Over time, this causes a reduction in the symptoms</li>
    <li><strong>exposure and Response Prevention (ERP)</strong>: a therapist guides the person to choose not to do a compulsive behaviour in response to images, thoughts or objects that usually make them anxious</li>
    <li><strong>medicine</strong>: antidepressants are licensed for the treatment of OCD in Australia and can be very effective. They can assist the brain in restoring a normal chemical balance</li>
    <li><strong>community support and recovery programs</strong>: OCD can be an isolating disorder. People with OCD and their families can benefit from support groups, where people share coping strategies and develop a support network. Family therapy may also be helpful. Community support and connection can play a vital role in rebuilding lives</li>
</ul>


<h2 id="disorder">Complications of OCD</h2>
<p>If OCD is not treated, compulsive behaviour can become ingrained and damaging. This may mean adults become housebound or children cannot attend school.</p>

<p>People with OCD may also develop other types of anxiety or panic attacks. They may also have <a routerLink="/adhd">ADHD</a>, or other mental health conditions such as depression, chronic hair pulling, hoarding, or an eating disorder.</p>



